<%- include ../partials/header.ejs%>

<div class="row">

    <table class="table table-striped  col-8 " style="margin: 0 auto;">
        <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>

            <th scope="col">Price</th>
            <th scope="col">Add to cart</th>
            <th scope="col">Add to wishlist</th>

        </tr>
        </thead>
        <% if (products){%>
            <tbody>

            <% _.each(products,function (items) { %>
                <tr>

                    <td ><img width="125" height="200"  <% if (items.image_groups[2]){%>src="/images/<%= items.image_groups[2].images[0].link%>"<% }%> alt=""></td>

                    <td><a href="/product/product/<%=items.id%>"><%= items.name%></a></td>

                    <td style="color:red;">USD <%= items.price%></td>
                    <td><a href="/add-to-cart/<%=items.id%>"><i class="fas fa-shopping-cart fa-2x"></i></a></td>
                    <td><a href="/add-to-wishlist/<%=items.id%>"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a></td>
                </tr>
            <% }); %>

            </tbody>
        <% }%>
    </table>

    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>

</div>


