<%- include ../partials/header.ejs%>
<%- include ../partials/messages.ejs%>
<div class="card bg-light">
    <%- include ../partials/messages.ejs%>
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Profile</h4>
        <p class="divider-text">
            <span class="bg-light">User Info</span>
        </p>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="email" class="form-control" value="<%= user.name%>" placeholder="Email address" type="text" required readonly>
            </div> <!-- form-group// -->


            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input name="password" class="form-control" value="<%= user.email%>" placeholder="Enter password" type="email" required readonly>
            </div> <!-- form-group// -->
        <a href="/cart"><i class="fas fa-shopping-cart fa-2x"></i></a>
        <a style="margin-left: 170px" href="/wishlist"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a>
            <div class="form-group">
                <a href="/users/logout" class="btn btn-primary btn-block"> Logout  </a>
            </div> <!-- form-group// -->


    </article>
</div> <!-- card.// -->

